<div class="modal fade" id="edit-link-{{ link[0] }}" tabindex="-1" aria-labelledby="modal-title-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modal-title-1">Create Link</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="POST">
        <input type="hidden" name="method" value="PUT"/>
        <div class="modal-body" style="gap: 10px">
          <label for="long-link-{{ link[0] }}" class="form-label">Long URL</label>
          <input id="long-link-{{ link[0] }}" name="long-link" type="text" class="form-control" value="{{link[1]}}" placeholder="Long URL here" aria-label="Long URL here">
          <label for="short-link-{{ link[0] }}" class="form-label">Short URL</label>
          <div id = "short-link-{{ link[0] }}" class="input-group mb-3">
            <span class="input-group-text" id="add-on-1-{{ link[0] }}">link.jackk.dev/</span>
            <input type="hidden" name="short-link" value="{{ link[0] }}"/>
            <input type="text" name="new-short-link" class="form-control" placeholder="your-link-here" value="{{link[0]}}" aria-label="your-link-here" aria-describedby="add-on-1">
          </div>
          <label class="form-check-label" for="isActive">
            Link is Active
          </label>
          {% if link[5] == 1 %}
          {% set isActive = "checked" %}
          {% else %}
          {% set isActive =  ""%}
          {% endif %}
          <input name="isActive" class="form-check-input" type="checkbox" id="isActive" checked>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-secondary">Cancel</button>
          <button type="submit" class="btn btn-success">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>